USE [master]
GO
/****** Object:  Database [QLBH_ASP]    Script Date: 5/23/2015 4:12:40 PM ******/
CREATE DATABASE [QLBH_ASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_ASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBH_ASP.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_ASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBH_ASP_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_ASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_ASP]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[MaId] [int] IDENTITY(1,1) NOT NULL,
	[MaName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[OrderId] [int] NOT NULL,
	[ProId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__orderdet__08D097C1CABB75EE] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
	[Total] [bigint] NOT NULL,
	[OrderStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProId] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](50) NULL,
	[ShortDes] [nvarchar](50) NULL,
	[LongDes] [nvarchar](max) NULL,
	[NewPrice] [int] NOT NULL,
	[OldPrice] [int] NOT NULL,
	[CatId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[DateAdd] [date] NOT NULL,
	[MaId] [int] NOT NULL,
	[Sale] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 5/23/2015 4:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Permission] [int] NOT NULL,
	[Phone] [varchar](255) NOT NULL,
	[Address] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([CatId], [CatName]) VALUES (1, N'Túi xách nữ')
INSERT [dbo].[categories] ([CatId], [CatName]) VALUES (2, N'Túi xách nam')
INSERT [dbo].[categories] ([CatId], [CatName]) VALUES (3, N'Túi trẻ em')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[manufacturers] ON 

INSERT [dbo].[manufacturers] ([MaId], [MaName]) VALUES (1, N'Hermès')
INSERT [dbo].[manufacturers] ([MaId], [MaName]) VALUES (2, N'Yves Renard')
INSERT [dbo].[manufacturers] ([MaId], [MaName]) VALUES (3, N'Miti')
SET IDENTITY_INSERT [dbo].[manufacturers] OFF
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([OrderId], [ProId], [Amount], [DetId]) VALUES (17, 1, 4, 24)
INSERT [dbo].[orderdetails] ([OrderId], [ProId], [Amount], [DetId]) VALUES (18, 1, 1, 25)
INSERT [dbo].[orderdetails] ([OrderId], [ProId], [Amount], [DetId]) VALUES (18, 2, 2, 26)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([OrderId], [OrderDate], [UserId], [Total], [OrderStatus]) VALUES (17, CAST(0xF6390B00 AS Date), 4, 1520000, 1)
INSERT [dbo].[orders] ([OrderId], [OrderDate], [UserId], [Total], [OrderStatus]) VALUES (18, CAST(0xF6390B00 AS Date), 4, 1900000, 0)
INSERT [dbo].[orders] ([OrderId], [OrderDate], [UserId], [Total], [OrderStatus]) VALUES (20, CAST(0xF6390B00 AS Date), 4, 1140000, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [Username], [Password], [Name], [Email], [DOB], [Permission], [Phone], [Address]) VALUES (1, N'admin', N'admin', N'Lyk Lynh', N'lyklynh@nad.system', CAST(0xE6390B00 AS Date), 1, N'123456789', N'None')
INSERT [dbo].[users] ([Id], [Username], [Password], [Name], [Email], [DOB], [Permission], [Phone], [Address]) VALUES (2, N'guest', N'123456', N'Tester', N'test@gmail.com', CAST(0xC8390B00 AS Date), 0, N'987654321', N'None')
INSERT [dbo].[users] ([Id], [Username], [Password], [Name], [Email], [DOB], [Permission], [Phone], [Address]) VALUES (3, N'test', N'EB6F39C6355E7F3057C5F0F64A7B5241', N'dfsf', N'sdf@flssj.com', CAST(0xEA390B00 AS Date), 1, N'1234', N'none')
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
