@using QLBH_MVC.Models

@model SessionCart

<div style="min-height:100%;padding-bottom:200px;margin-top:3.125rem" class="bg-darkCyan">

    <div class="grid condensed">
        <div class="row cells6">
            <div class="cell"></div>
            <div class="cell colspan4">
                <h1 class="fg-white">Giỏ hàng</h1>
                <div id="table-cart-list">
                    @Html.Action("PartialListTable", "Cart")
                </div>

            </div>
        </div>
    </div>
    <div style="width:100%;position:absolute;bottom:0;left:0">
        <div>
            <div class="presenter" data-role="presenter" data-height="100" data-easing="easeInExpo">
                <div class="scene">
                    <div class="act ribbed-darkEmerald fg-white">
                        <h1 class="actor" data-position="10,10">Thông tin website</h1>
                        <p class="actor" data-position="70,10">Được thực hiện bởi Huỳnh Chánh Kiệt</p>
                        <p class="actor" data-position="95,10">Sử dụng bộ CSS <a class="fg-yellow" href="http://metroui.org.ua/">Metro</a></p>

                        <img src="~/images/home/5.jpg" class="actor" data-position="10,500" style="height: 130px">
                        <img src="~/images/home/6.jpg" class="actor" data-position="50,800" style="height: 100px">
                        <img src="~/images/home/7.jpg" class="actor" data-position="30,990" style="height: 80px">
                    </div>
                    <div class="act ribbed-grayDark fg-white">
                        <h1 class="actor" data-position="10,10">Liên hệ cửa hàng</h1>
                        <p class="actor" data-position="70,10">Phone <span class="fg-amber">+1900-1560</span></p>
                        <p class="actor" data-position="95,10">Địa chỉ: 18/5 Phường 12, đường Võ Thị Sáu</p>
                        <img src="~/images/home/8.jpg" class="actor" data-position="10,500" style="height: 130px">
                        <img src="~/images/home/9.jpg" class="actor" data-position="50,750" style="height: 100px">
                        <img src="~/images/home/10.jpg" class="actor" data-position="30,950" style="height: 80px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
