@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="grid condensed" style="padding:30px">
    <div class="row cells6">
        <div class="cell colspan4">

            <h1>Quản lý loại sản phẩm</h1>
            <div id="tableCategory">
                @Html.Action("TableCategory", "Admin")
            </div>

        </div>
    </div>

</div>



@section js{
    <script>




    </script>

}



