@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="grid condensed" style="padding:30px">
    <div class="row cells6">
        <div class="cell colspan4">

            <h1>Quản lý nhà sản xuất</h1>
            @Html.Action("TableManufacturer", "Admin")

        </div>
    </div>

</div>



@section js{
    <script>




    </script>

}
