@using QLBH_MVC.Models

@model List<category>
<div id="tableCategory">
    <button class="button add-cat-btn" type="button" data-toggle="modal" data-target="#addModal"><span class="mif-play"></span>&nbsp;Thêm danh mục</button>
    <table class="table striped hovered">
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên danh mục</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (category c in Model)
            {
                <tr>
                    <td>
                        @c.CatId
                    </td>
                    <td>
                        @c.CatName
                    </td>
                    <td>
                        <button class="button update-cat-btn" type="button" data-id="@c.CatId" data-toggle="modal" data-target="#myModal"><span class="mif-pencil"></span></button>
                    </td>
                    <td>
                        <button class="button remove-cat-btn" data-id="@c.CatId"><span class="mif-cross"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chỉnh sửa danh mục</h4>
                </div>
                <div class="modal-body">
                    <div class="input-control text">
                        <input id="modal-label-name" disabled />
                    </div>
                    <div class="input-control text">
                        <input name="CatName" placeholder="Nhập tên bạn muốn..." />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeModalUpdate" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-update-cat">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm danh mục</h4>
                </div>
                <div class="modal-body">
                    <div class="input-control text">
                        <input name="AddCatName" placeholder="Nhập tên bạn muốn..." />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-add-cat">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>







<script>
    function hideModal() {
        $("#myModal").removeClass("in");
        $("#addModal").removeClass("in");
        $(".modal-backdrop").remove();
        $("#myModal").hide();
        $("#addModal").hide();
        $('body').removeClass("modal-open");
    }

    $('.update-cat-btn').click(function () {
        var id = $(this).attr("data-id");
        $("#modal-label-name").val(id);
    });

    $('.remove-cat-btn').click(function () {
        var id = $(this).attr("data-id");
        $.post("/Admin/RemoveCategory", { "Id": id }, function (data) {
            if (data.Error != '') {
                setTimeout(function () {
                    $.Notify({ type: 'alert', caption: 'Lỗi', content: data.Error });
                }, 200);
            }
            
            if (data.Success != '') {
                setTimeout(function () {
                    $.Notify({ type: 'success', caption: 'Thành công', content: data.Success});
                }, 200);
            }

            
        });

        $('#tableCategory').load("/Admin/TableCategory");
    })

    $('.btn-add-cat').click(function () {
        var newName = $("input[name='AddCatName']").val();

        if (newName != '') {
            $.post("/Admin/AddCategory", { "name": newName }, function (data) {
                if (data.Success != '') {
                    alert(data.Success);
                }
            });
        }

        hideModal();
        $('#tableCategory').load("/Admin/TableCategory");
    });

    $('.btn-update-cat').click(function () {
        var id = $("#modal-label-name").val();
        var newName = $("input[name='CatName']").val();

        if (newName != '') {
            $.post("/Admin/UpdateCategory", { "CatId": id, "CatName": newName }, function (data) {
                alert(data.Success);
            });
        }


        hideModal();
        $('#tableCategory').load("/Admin/TableCategory");
    });


</script>


